@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

form {
  text-align: center;
  margin: auto;
  width: 500px;
}

fieldset {
  display: grid;
}

/* Input styles */

input, textarea {
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#checkbox {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 20px;
}

label {
  margin: 0;
}

textarea {
  height: 200px;
}

/* Toast */

.toast {
  position: absolute;
  right: 0;
}

.toast img {
  height: 20px;
  width: 40px;
}

/* Anonymous */

.anonymous #checkbox {
  margin: 10px 0;
}

.anonymous textarea {
  height: 220px;
}

/* ios checkbox styling */

input[type=checkbox] {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; outline: none;
  width: 50px; height: 30px;
  background-color: #ffffff; border: 1px solid #D9DADC;
  border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: 1px; left: 1px;
  width: 26px; height: 26px;
  background-color: transparent;
  border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input[type=checkbox]:checked {
  border-color: #4ED164;
  box-shadow: inset 20px 0 0 0 #4ED164;
}

input[type=checkbox]:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

@media (max-width: 576px) {
  form {
    width: 100%;
    margin: unset;
    padding: 30px 40px;
  }

  form img {
    width: 150px;
  }

  input {
    padding: 10px;
    margin: 10px 0;
  }

  textarea {
    height: 150px;
  }
}